{% set activepage="contact" %}
{% extends "pagelayout.njk" %}

{% block content %}

<!-- Post -->
							<section class="posts">
								<article>
									<p><span class="image left"><img src="images/prez.jpg" alt="" /></span><b>Paul 'Rudy' Rudolph</b><br />President<br />0411 282 310</p>
								</article>
								<article>
									<p><span class="image left"><img src="images/vp.jpg" alt="" /></span><b>Niel Tait</b><br />Vice President<br />0477 998 801</p>
								</article>
								<article>
									<p><span class="image left"><img src="images/sec.jpg" alt="" /></span><b>Yvonne Tait</b><br />Secretary<br />0414 949 156</p>
								</article>
								<article>
									<p><span class="image left"><img src="images/mo.jpg" alt="" /></span><b>Roy Abraham</b><br />Membership Officer<br />0414 293 405</p>
								</article>
								<article>
									<p><span class="image left"><img src="images/tco.jpeg" alt="" /></span><b>????</b><br />Trip Coodinator<br /> </p>
								</article>
								<article>
									<p><span class="image left"><img src="images/web.jpeg" alt="" /></span><b>Chris Fawcett</b><br />Web and Social Media<br /> </p>
								</article>
							</section>

{% endblock %}
