{% set activepage="details" %}
{% extends "pagelayout.njk" %}

{% block content %}

	<section class="post">
								<header>
									<h3>History</h3>
								</header>
								<p>The Breakaways was established in 1996 and the club was named after the landscape near Coober Pedy. The idea was to keep the club to a maximum of 50 members. This was to encourage all members to participate in the running of the club, and to attend as many meetings as possible. It has proven to be a very successful formula for the club and our members.</p>
								<header>
									<h3>Club Meetings</h3>
								</header>
								<p>Held on the last Wednesday of every month (except December) at 7.30pm in the Modbury West Community Hall, Capulet Crescent, Modbury.<br />
								The meeting format includes:</p>
								<ul>
									<li>At the Door: Visitor and Member Sign-In. Handouts that will be supplied include the Financial Report and Visitor & New Member Information Sheet.</li>
									<li>Tea Break: Following meeting formalities of Executive Reports and General Business, free tea, coffee and biscuits are served.</li>
									<li>Club Library: The Club has a comprehensive library of books and videos available for loan to members on a monthly basis.</li>
									<li>Trips: All Members and Visitors are welcome to join in with any Club trip or social activity. Registrations are made on the Trip List handed around at meetings.</li>
									<li>Information Sessions: For Visitors and New Members. Club Greeters conduct information sessions at the front of the hall during the tea break.</li>
								</ul>
								<header>
									<h3>Training</h3>
								</header>
								<p>Four Wheel Drive South Australia Inc. (FWDSA) and its member clubs are active in educating and training their members in correct and environmentally friendly vehicle operating techniques, camping etiquette and hygiene.<br /><br />
								Training is given both on an ad hoc basis and as part of a formally structured course (National Outdoor Recreation Industry Training Package SR099). Training occurs as resources permit, not to a particular timetable, as the qualified Advisors, Trainers and Assessors who perform this role are volunteers.<br /><br />
								Training is for 4WD Club members only - the club does not run courses for non-members.</p>
								<header>
									<h3>Affiliations</h3>
								</header>
								<p>The Breakaways 4WD Club of SA Inc. is a member of the FWDSA, and maintains delegates to this body, as well as to FWDSA internal 'Units', e.g. Natural Resources Advisory Unit; The Friends Unit; Driver Training Unit; Aboriginal Advisory Unit.<br /><br />
								In addition, the Club supports the Royal Flying Doctor Service, the Clean Up Australia Campaign and the Ngarkat Conservation Park activities. Public activities have included involvement in the annual 4WD Show and the Caravan and Camping Show.<br /><br />
								The fellowship of 4WD Club members applies no matter where you might be in Australia, through affiliation with the Australian National 4WD Council and 4WD interstate clubs.</p>
								<div class="image main"><img src="images/2020MurraySunset.jpg" alt="" /></div>
							</section>

{% endblock %}
