{% set activepage="membership" %}
{% extends "pagelayout.njk" %}

{% block content %}

	<!-- Post -->
							<section class="post">
								<p>The Breakaways is a small, social club and encourages its members to participate in all aspects of running a successful and enjoyable organization.</p>
								<p>The current Club Charter limits the total number of Full Members (family group) to 50.</p>
								<p>Annual Club membership fees are currently $65 - which includes affiliation fees to FWDSA.</p>
								<p>Bank Details for payment of fees are as follows:<br />
								Name: The Breakaways 4WD Club of SA Inc<br />
								BSB: 805050<br />
								Account No: 2328022</p>
								<p>Joining Fee is currently $25.00.</p>
								<p>There are two types of Membership: Full and Social.</p>
								<p>Qualifications for membership are:</p>
								<ul>
									<li>Full Membership - attend two (2) Club meetings and two (2) overnight designated Club trips in the Club year.</li>
									<li>Social Membership - attend two (2) Club meetings in the Club year. (Social Members cannot hold executive positions).</li>
								</ul>
								<p>On becoming a member you will be able to take part in the training that is offered by the Club's volunteer Advisors, Trainers and Assessors.</p>
								<p>Members can purchase Club T-Shirts in various sizes and styles.  Also caps available.</p>
								<p>Contact Roy on 0414 293 405 to order.</p>
								<div class="image main"><img src="images/sticker.jpg" alt="" /></div>
							</section>

{% endblock %}
